<div class="row">
  <div class="col-md-8">
    <h3>Matching microposts</h3>
    <% if @feed_items.any? %>
      <%= render 'shared/feed' %>
    <% else %>
      <%= render 'shared/no_results' %>
    <% end %>
  </div>
</div>
