<%= form_for(current_user.pending_relationships.
                          build(followed_id: @user.id),
                          remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Send Request", class: "btn btn-primary" %>
<% end %>